<div class="content_item">
    <div class="content_item_title">
        <div class="right"><%= render :partial => "/forums/jump_to_forum", :locals =>  { :forum_id => @forum.id} %></div>
        <%= forum_breadcrumbs %>
        <div class="clearer">&nbsp;</div>
    </div>
    <div class="content_item_body">
        <div class="content_item_metadata">
            <div class="content">
                <div class="left"><h2>Edit Topic</h2></div>            
                <div class="clearer">&nbsp;</div>												
            </div>
        </div>
        <% form_for [@forum,@forum_topic] do |form| %>
            <%= error_messages_for "forum_topic" %>
            <div class="form_row">
                <label for="title" class="fieldname left">Forum:</label>
                <%= render :partial => "/forums/dropdown_list", :locals => { :form => form, :object => 'forum_topic' } %>
                <span class="fieldinfo">(i.e. move topic to another forum)</span>
            </div>
            <%= render :partial => "/layouts/fields/text_field_row", :locals => { :form => form, :fieldname => :title } %>
            <%= render :partial => "/layouts/fields/checkbox_field_row", :locals => { :form => form, :fieldname => "locked" } %>
            <%= render :partial => "/layouts/fields/checkbox_field_row", :locals => { :form => form, :fieldname => "sticky" } %>
            <div class="form_row">
                <%= render :partial => "/layouts/buttons/submit_button" %>
                <%= link_to "<input class='submit_link' style='font-size:12px;font-weight:normal;' value='Delete'>", 
                    forum_forum_topic_path(@forum_topic.forum_id,@forum_topic.id), 
                    :method => :delete, 
                    :confirm => "Delete this topic?  Are you sure you want to delete this topic and all this topic's posts?" %>
                <%= render :partial => "/layouts/buttons/cancel_button" %>
            </div>
        <% end %>
    </div>            
    <div class="content_item_bottom"></div>
</div>            
