<%= error_messages_for :user, :avatar %>

<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Edit Profile for " + h(@user.username) } %>

    <div class="content_item_body">
        <% form_for :user, :url => user_path(@user.id), :html => { :method => :put, :multipart => true, :id => "user_form" } do |form| %>
            <%= hidden_field_tag "attribute", "profile", :id => nil %>

            <% if has_permission?("Edit Users") and not @user.is_admin? %>
                <div class="form_row">
                    <label for="account_status_id" class="fieldname">Account Status:</label>
                    <%= select_tag('account_status_id', options_for_select(AccountStatus.options_for_select, selected = @user.account_status_id ), :class => 'styled') %>
                </div>
                <div class="form_row"><div class="hr"></div></div>
            <% end %>
            <%= render :partial => "/layouts/fields/text_field_row", :locals => { :form => form, :fieldname => :username } %>
            <div class="hr"><%= render :partial => "/layouts/fields/text_field_row", :locals => { :form => form, :fieldname => :email } %></div>

            <%= render :partial => "/layouts/fields/time_zone_select_row", :locals => { :form => form, :time_zone_for => "user" } %>

            <div class="form_row">
                <label for="new_avatar" class="fieldname">Avatar:</label>

                <%= file_field_tag 'user[avatar]', :id => :user_avatar, :class => 'file', :accept => 'image/png,image/gif,image/jpeg' %>
                <span class="fieldinfo">(only gif/jpg/png allowed, and must be less than 500kb)</span>
                <%=hidden_field_tag "delete_avatar_flag"%>
                <%=link_to "[ Delete ]", "#", :class => "minor_edit_text_link right", :onclick => "$('delete_avatar_flag').value='1';$('user_form').submit();return false;" if @user.avatar.exists? %>
            </div>

            <div class="form_row hr"><%= image_tag @user.avatar.url(:medium), :class => "styled" %></div>

            <%= render :partial => "/layouts/fields/text_field_row", :locals => { :form => form, :fieldname => :website_url } %>
            <%= render :partial => "/layouts/fields/text_area_row", :locals => { :form => form, :fieldname => :signature, :rows => 2 } %>
            <%= render :partial => "/layouts/fields/text_area_row", :locals => { :form => form, :fieldname => :personal_text } %>

            <div class="spacer h10 hr"></div>
            <%= render :partial => "/layouts/buttons/submit_button" %>
            <%= render :partial => "/layouts/buttons/cancel_button" %>
            <div class="spacer h15"></div>
        <% end %>
    </div>
    <div class="content_item_bottom"></div>
</div> 

<div class="spacer h10"></div>

<div class="content_item">
    <%= render :partial => "/layouts/content_item_title", :locals => { :title => "Change Your Password" } %>

    <div class="content_item_body">
        <% form_for :user, :url => user_path(@user.id), :html => { :method => :put } do |form| %>
            <%= hidden_field_tag "attribute", "password", :id => nil %>
            <%= render :partial => "/layouts/fields/password_field_row", :locals => { :form => form, :field => "current_password" } %>
            <%= render :partial => "/layouts/fields/password_field_row", :locals => { :form => form, :field => "password", :field_title => "New Password" } %>
            <%= render :partial => "/layouts/fields/password_field_row", :locals => { :form => form, :field => "password_confirmation", :field_title => "Confirm Password" } %>

            <div class="spacer h10"></div>
            <%= render :partial => "/layouts/buttons/submit_button" %>
            <div class="spacer h15"></div>
        <% end %>
    </div>
    <div class="content_item_bottom"></div>
</div>  