<p>Greetings <%= @user.display_name %>,</p>

<p>A forgotten password request was made for your account <%= @site_title %>. This request was made from the following ip: <%=@ip_address%>. </p>

<p>If you did not submit this request, please contact our staff at <%= mail_to @site_email, @site_email %>.</p>
<p>
YOUR USERNAME IS: <%= @user.username %><br />
YOUR PASSWORD IS: <%= @user.password %>
</p>
<p>Login at: <%= link_to @url, @url %></p>

<p>--The <%= @site_title %> team</p>